# Virtual environments
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files (optional)
*.csv
*.xlsx

# Settings file
config/settings.yaml

# lattice files
lattice-saves/