# Virtual environments
venv/
env/
ENV/

# Python
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx

# Settings file
config/*
!config/.gitignore

# Lattice files
lattice-saves/*
!lattice-saves/.gitignore